mhr-test/classes/mhr-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration"/>
	<http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="9092" doc:name="HTTP Listener Configuration"/>
	<flow name="mhr-testFlow1">
		<http:listener config-ref="HTTP_Listener_Configuration1" path="/api/mhr-testFlow1" doc:name="HTTP:/GET"/>
		<set-payload value="This a test API" doc:name="Set Payload"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="mhr-testFlow2">
		<http:listener config-ref="HTTP_Listener_Configuration1" path="/api/mhr-testFlow2" doc:name="HTTP:/POST"/>
		<set-payload value="The received value is: #[json:value]" doc:name="Set Payload"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
